@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
/* 
#363636 - black
#99d8d0 - blue
#b7efcd - green
#ffbcbc - pink
*/

/* font-family: 'Alata', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif; */

body {
  margin: 0;
  padding: 0;
}

header {
  height: 100px;
  top: 0;
  width: 100%;
  background-color: #363636;
  color: white;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid #ffbcbc;
}

header > h1 {
  font-family: "Alata", sans-serif;
  letter-spacing: 3px;
  margin-left: 20px;
}

header > * {
  padding: 0 20px;
}

.header-right > a {
  margin: 0 10px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

main {
  height: 450px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-div {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

h1 > a,
button > a {
  text-decoration: none;
  color: white;
}

button {
  /* background-color: #363636; */
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  background-color: white;
  color: #363636;
  width: auto;
  padding: 10px 40px;
  font-size: 22px;
  margin: 0 20px;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  text-transform: uppercase;
}

button > a {
  color: #363636;
}

.footer {
  margin-top: 20px;
  height: 10%;
  padding: 1% 10%;
  background-color: #363636;
  border-top: 5px solid #ffbcbc;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.socials {
  display: flex;
  flex-direction: column;
}

.socials > * {
  margin: 15px;
}

.site > * {
  filter: invert(98%) sepia(1%) saturate(1%) hue-rotate(26deg) brightness(104%)
    contrast(100%);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  margin: 0 5px;
  font-weight: bolder;
}

.site > img {
  margin-bottom: -3px;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact > * {
  font-family: "Montserrat", sans-serif;
  color: white;
}
