@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
}

.header {
  height: 15%;
  top: 0;
  width: 100%;
  background-color: #363636;
  color: white;
  border-bottom: 5px solid #ffbcbc;
  position: fixed;
}

.header > h1 {
  float: left;
  font-family: "Alata", sans-serif;
  letter-spacing: 3px;
  margin-left: 20px;
}

.header-right {
  float: right;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  letter-spacing: 3px;
  margin-right: 20px;
}

.sidebar {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 15%;
  width: 19%;
  background-color: #ffbcbc;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.sidebar > img {
  margin-top: 5%;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.sidebar-links > a {
  margin: 3% -5%;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 2.5% 5%;
  transition: 0.2s all cubic-bezier(0.23, 1, 0.32, 1);
}

.sidebar-links > a:hover {
  background-color: #363636;
}

#active {
  border: 2px solid #b7efcd;
  background-color: #363636;
}

.content {
  margin: 8% 1% 4% 20%;
  min-height: 50vh;
}

#main-heading {
  font-family: "Alata", sans-serif;
  font-size: 36px;
  color: #363636;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 4% 3%;
  margin-top: 12%;
}

.content-header-icons {
  margin-top: -8%;
  margin-right: 1%;
  float: right;
  display: flex;
  width: 8%;
  justify-content: space-between;
}

#main-heading {
  font-family: "Alata", sans-serif;
  font-size: 36px;
  color: #363636;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 4% 3%;
  margin-top: 12%;
}

.content-header-icons {
  margin-top: -8%;
  margin-right: 1%;
  float: right;
  display: flex;
  width: 8%;
  justify-content: space-between;
}

.sample-tours,
.available-tours {
  margin: -4% 1%;
}

.sample-tours-head-div {
  display: flex;
  height: 70px;
  align-items: center;
}

#sample-tours-heading {
  margin-left: 3%;
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  color: #363636;
}

.view-all {
  height: 28px;
  margin-left: 32px;
  margin-top: 6px;
  width: 120px;
  border: none;
  letter-spacing: 3px;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s all ease-in-out;
}

.view-all > a:link,
.view-all > a:visited {
  text-decoration: none;
  color: #363636;
}

.view-all:hover {
  background-color: #b7efcd;
}

.sample-tours-container,
.available-tours-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: left;
  margin: 5px 40px;
  margin-bottom: 100px;
}

.available-tours-container {
  margin: 60px 20px 100px 0px;
}

.tour-card {
  width: 250px;
  min-height: 200px;
  background-color: #99d8d0;
  margin: 0 20px;
  padding: 8px;
  border-radius: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  transition: 0.3s all ease-in;
  font-family: "Montserrat", sans-serif;
  color: #363636;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tour-card > * {
  margin: 2%;
}

#tour-name {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

.tour-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select-button {
  margin-left: 10px;
  padding: 10px;
  margin-top: 10px;
  border: none;
  letter-spacing: 3px;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s all ease-in-out;
  text-transform: uppercase;
  color: #363636;
  transition: 0.3s all ease-in-out;
}

.select-button:hover {
  background-color: #b7efcd;
}

.footer {
  margin-top: 50px;
  height: 10%;
  padding: 1% 10%;
  background-color: #363636;
  border-top: 5px solid #ffbcbc;
  margin-left: 19%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.socials {
  display: flex;
  flex-direction: column;
}

.socials > * {
  margin: 15px;
}

.site > * {
  filter: invert(98%) sepia(1%) saturate(1%) hue-rotate(26deg) brightness(104%)
    contrast(100%);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  margin: 0 5px;
  font-weight: bolder;
}

.site > img {
  margin-bottom: -3px;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact > * {
  font-family: "Montserrat", sans-serif;
  color: white;
}

.message {
  font-family: "Montserrat", sans-serif;
  color: rgba(54, 54, 54, 0.6);
  letter-spacing: 3px;
}
.link {
  color: white;
  text-decoration: none;
}
