header{
    background-color:#363636;
    padding-top:30px;
    border:#b7efcd 3px solid;
    margin:0;
}

nav ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav li {
    float: left;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  nav li a {
    display: inline-block;
    padding: 8px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
  }
  
  .navb a:hover{
    color: #555;
  }