/* 
#363636 - black   background: #363636;
#99d8d0 - blue    background: #99d8d0;
#b7efcd - green
#ffbcbc - pink
*/

/* body{
    background: #99d8d0;
    background: #ffbcbc;
  }*/
  
  .head {
      height: 130px;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #363636;
      color: #ffbcbc;
      position: fixed;
      justify-content: space-around;
      font-family: 'Alata', sans-serif;
  }
  
  .head h1{
    margin-left: 15px;
  }
  
  /* h2 {
    position: fixed;
  } */
  
  .navb ul{
    /* float: left; */
    float: right;
    list-style-type: none;
    /* background-color:  #363636; */
  }
  
  .navb a:hover{
    color: #F7AC2A;
  }
  
  .navb ul li{
     float: left; 
     margin-right: 40px;
    /* float: right; */
  }
  
  .navb ul li a{
    /* float: left; */
    /* float: right; */
    color: #b7efcd;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .footer {
    position: relative;
    left:0px;
    bottom:0px;
    height: 130px;
    width:100%;
    background-color: #363636;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .socials {
    display: flex;
    flex-direction: column;
  }
  
  .socials > * {
    margin: 15px;
  }
  
  .site>* {
    filter: invert(98%) sepia(1%) saturate(1%) hue-rotate(26deg) brightness(104%) contrast(100%);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin: 0 5px;
    font-weight: bolder;
  }
  
  .site>img {
    margin-bottom: -3px;
  }
  
  .contact {
    display: flex;
    flex-direction: column;
  }
  
  .contact > * {
    font-family: 'Montserrat', sans-serif; 
    color: white;
  }

  h2{
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    /* font-family: 'Open Sans', sans-serif; */
  }
  
  #comp{
    margin: 10px;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Open Sans', sans-serif;
  }
  
  #comp th, #comp td{
    padding: 10px;
    border: 1px solid black;
  }
  
  th{
    height: 50px;
  }
  
  #chead{
    width:300px;
  }
  
  tr:nth-child(even){
    background-color: #99d8d0;
  }
  
  tr:hover{
    background-color:#DDA7EF;
  }