body{
	padding:0;
	margin:0;
}
header{
	background-color:#363636;
	color:#99d8d0;
	padding-top:30px;
	padding-bottom:20px;
	position:fixed; 
	margin-top: 0;
    
	border-bottom:#ffbcbc 5px solid;
	font-family: 'Alata', sans-serif;
}
header p{
	position: fixed;
	top:50px;
	right:50px;
}
.span1{
    color:#ffbcbc;

}
.head{
    top:0px;
	width:80%;
	margin-top: 0;
	overflow:hidden;
	padding-top:30px;
	padding-right:400px;
	position: fixed;	
	padding-left:100px;
	background-color:#363636;
	border-bottom:#ffbcbc 5px solid;
	font-family: 'Alata', sans-serif;
}