@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/* 
#363636 - black
#99d8d0
#b7efcd
#ffbcbc - pink
*/

/* font-family: 'Alata', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif; */

body {
    margin: 0 0;
    display: flex;
    background-color: white;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    background-color: #ffbcbc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#name {
    font-family: 'Alata', sans-serif;
    font-size: 42px;
    color: #363636;
    letter-spacing: 3px;
    margin-top: -12px;
    transition: 0.2s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
    cursor: pointer;
}

#name:hover {
    font-size: 56px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}

.list-link {
    font-size: 18px;
    /* border: 1px solid black; */
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 4px 10px;
    transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.list-link:hover {
    background-color: #363636;
}






.body {
    position: relative;
    height: 100vh;
    padding-left: 50px;
    left: 275px;
}

.settings {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 160px;
    /* border: 1px solid black; */
    right: -100px;
    top: 20px;
    text-transform: uppercase;
}

.settings-link {
    transition: 0.2s all cubic-bezier(0.165, 0.84, 0.44, 1);
    font-size: 14px;
}

.settings-link:hover {
    text-shadow: 0 0 5px #ffbcbc;
}

.settings > a {
    text-decoration: none;
    color: #363636;
    font-family: 'Open Sans', sans-serif;
}

#main-heading {
    font-family: 'Alata', sans-serif;
    font-size: 60px;
    letter-spacing: 2px;
    color: #363636;
    text-transform: uppercase;
}

#arrows {
    color: pink;
}

.tour-heading {
    display: flex;
    flex-direction: column;
    width: 100px;
}

#tour-main-heading, #btour-main-heading {
    font-family: 'Alata', sans-serif;
    font-size: 36px;
    letter-spacing: 2px;
    color: #363636;
    margin-left: 10px;
    /* text-shadow: 3px 0 white; */
    text-transform: uppercase;
    margin-bottom: -10px;
}

.tour-cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.tour-card {
    width: 200px;
    min-height: 200px;
    margin: 20px 10px;
    background-color: #99d8d0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    border-radius: 10px;
}

.tour-card > * {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 2px;
    color: #363636;
}

#tour-card-heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: white;
}

.tour-card:hover {
    box-shadow: 0 0 25px #ffbcbc;
}