@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/* 
#363636 - black
#99d8d0 - blue
#b7efcd - green
#ffbcbc - pink
*/

/* font-family: 'Alata', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif; */

body {
    margin: 0;
    padding: 0;
}

.header {
    height: 100px;
    top: 0;
    width: 100%;
    background-color: #363636;
    color: white;
    border-bottom: 5px solid #ffbcbc;
    position: fixed;
}

.header > h1 {
    float: left;
    font-family: 'Alata', sans-serif;
    letter-spacing: 3px;
    margin-left: 20px;
}

.header-right {
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    letter-spacing: 3px;
    margin-right: 20px;
}

.sidebar {
    position:fixed; 
    margin: 0;
    padding: 0;
    top: 100px;
    width: 250px;
    background-color: #ffbcbc;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.sidebar > img {
    margin-top: 20px;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.sidebar-links > a {
    margin: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    transition: 0.2s all cubic-bezier(0.23, 1, 0.320, 1);
}

.sidebar-links > a:hover {
    background-color: #363636;
}

.content {
    margin-top: 120px;
    margin-left: 270px;
}

#main-heading {
    font-family: 'Alata', sans-serif;
    font-size: 50px;
    color: #363636;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 24px 28px;
}

.content-header-icons {
    margin-top: -76px;
    margin-right: 20px;
    float: right;
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.sample-tours {
    margin: -20px 10px;
}

.sample-tours-head-div {
    display: flex;
    height: 80px;
    align-items: center;
}

#sample-tours-heading {
    margin-left: 24px;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    color: #363636;
}

.view-all {
    height: 32px;
    margin-left: 32px;
    width: 120px;
    border: none;
    letter-spacing: 3px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s all ease-in-out;
}

.view-all:hover {
    background-color: #b7efcd;
}

.sample-tours-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.tour-card {
    width: 200px;
    max-height: 200px;
    min-height: 200px;
    background-color: #99d8d0;
    margin: 0 2px;
    padding: 6px;
    border-radius: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    transition: 0.3s all ease-in;
}

.tour-card:hover {
    box-shadow: 0 0 30px 5px #b7efcd;
}

.tour-card-content {
    font-family: 'Montserrat', sans-serif;
    color: #363636;
}

#tour-name, #btour-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}

.booked-tours {
    margin: 60px 10px;
}
