@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
/* 
#363636 - black
#99d8d0 - blue
#b7efcd - green
#ffbcbc - pink
*/

/* font-family: 'Alata', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif; */

body {
  margin: 0;
  padding: 0;
  background-color: rgba(153, 216, 208, 0.3);
}

header {
  height: 100px;
  top: 0;
  width: 100%;
  background-color: #363636;
  color: white;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid #ffbcbc;
}

header > h1 {
  font-family: "Alata", sans-serif;
  letter-spacing: 3px;
  margin-left: 20px;
}

header > * {
  padding: 0 20px;
}

.header-right > a {
  margin: 0 10px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

main {
  min-height: 80vh;
  margin-top: 120px;
}

.content {
  background-color: white;
  min-height: 60vh;
  width: 40%;
  margin: auto;
  padding: 10px 5px;
  display: flex;
  justify-content: center;
}

.sign-up-title,
.login-title {
  text-align: center;
  font-family: "Alata", sans-serif;
  color: #363636;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.form-element {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.input-title {
  font-family: "Open Sans", sans-serif;
  color: #363636;
}

.form-input {
  margin: 13px;
  height: 26px;
  padding: 12px 20px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  font-weight: bold;
  color: #363636;
  border: none;
  border-bottom: 3px solid #99d8d0;
  transition: 0.3s all cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

i {
  margin-left: -10px;
}

.form-input:focus {
  background-color: rgba(183, 239, 205, 0.7);
  border-radius: 12px;
}

textarea {
  height: auto;
  padding: 10px;
  min-height: 150px;
  resize: none;
}

.form-label {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #363636;
  font-weight: bolder;
  letter-spacing: 3px;
  margin-top: 5px;
}

.form-label > a {
  color: #363636;
  text-decoration: none;
}

.error {
  font-family: "Montserrat", sans-serif;
  margin: -2% 2% 2% 3%;
  color: #363636;
  font-weight: bolder;
  width: 55%;
  visibility: hidden;
}

.signup-btn,
.login-btn {
  margin: 15px;
  width: auto;
  height: auto;
  padding: 16px 20px;
  border: none;
  border-radius: 20px;
  letter-spacing: 3px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgba(54, 54, 54, 0.8);
  color: white;
  transition: 0.2s all cubic-bezier(0.47, 0, 0.745, 0.715);
  cursor: pointer;
}

.signup-btn:hover,
.login-btn:hover {
  background-color: rgba(54, 54, 54, 1);
}

.footer {
  margin-top: 20px;
  height: 10%;
  padding: 1% 10%;
  background-color: #363636;
  border-top: 5px solid #ffbcbc;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.socials {
  display: flex;
  flex-direction: column;
}

.socials > * {
  margin: 15px;
}

.site > * {
  filter: invert(98%) sepia(1%) saturate(1%) hue-rotate(26deg) brightness(104%)
    contrast(100%);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  margin: 0 5px;
  font-weight: bolder;
}

.site > img {
  margin-bottom: -3px;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact > * {
  font-family: "Montserrat", sans-serif;
  color: white;
}
